<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bVote.basicvoting">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons"
        android:label="Smart Voting"
        android:roundIcon="@drawable/icons"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicVoting">
        <activity
            android:name=".RemoveCandidates"
            android:parentActivityName=".AdminPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminPage" />
        </activity>
        <activity android:name=".AddCandidates" android:parentActivityName=".AdminPage">

        </activity>
        <activity
            android:name=".RemoveVoter"
            android:parentActivityName=".AdminPage" />
        <activity
            android:name=".AddVoter"
            android:parentActivityName=".AdminPage" />
        <activity
            android:name=".VotingActivity"
            android:parentActivityName=".LoginPage" />
        <activity android:name=".AdminPage"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".LoginPage"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginPage"/>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>